body{
    background-color: rgb(195, 193, 193);
}

.box1 {
    width: 1500px;
    height: 65px;
    position: absolute;
    background-color:white;
}
.box1 button{
    width: 300px;
    margin-left: 130px;
    height: 65px;
    background-color: darkcyan;
    color: white;
    font-size: 25px;
    border-width: 0px;
}
.box1 a{
    margin-left: 200px;
}


.dis1{
    margin-left: 130px;
    margin-top: 100px;
    width: 730px;
    height: 570px;
    background-color:white;
}

.dis1 h1{
    margin-left: 30px;
    color: darkcyan;
}
.dis1 span{
    position: relative;
    bottom: 140px;
   margin-left: 20px;
   font-size: 30px;
}
.dis1 .p1{
    position: relative;
    bottom: 135px;
   margin-left: 285px;
   font-size: 20px;
}
.dis .p2{
    margin-left: 10px;
    position: relative;
    bottom: 145px;
   
   font-size: 20px;
}
.dis .p3{
    margin-left: 10px;
    position: relative;
    bottom: 145px;
   
   font-size: 20px;
}

.dis{
    display: flex;
}

.dis2{
    margin-top: 105px;
    margin-left: 200px;
    
    width: 350px;
    height: 230px;
    background-color:white;
} 

.dis2 .h1{
    margin-left: 55px;
    color: darkcyan;

}

.dis2 .picture1{
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
.dis2 .picture2{
    margin-left: 10px;
    width: 100px;
    height: 85px;
}
.dis2 .picture3{
    margin-left: 12px;
    width: 100px;
    height: 85px;
}


.box1 .a1{
    color: black;
    position: relative;
    left: 625px;
    width: 320px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
}
.box1 .a2{
    position: relative;
    left: 690px;
    color: black;
    width: 320px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
   
}
.box1 .a3{
    color: black;
    position: relative;
    left: 750px;
    width: 320px;
    padding: 10px;
    border:1px solid gray;
    margin: 0;
}


hr{
    border-width: 2px;
}
